@{
    ViewData["Title"] = "Home Page";
}



<style>

/* Estilos para el formulario */
form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilos para los campos del formulario */
form div {
    margin-bottom: 10px;
}

    h2 {
        text-align: center;
    }

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 110px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón de enviar */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
</style>


    <h2>Formulario de Registro</h2>
    <form action="/registro" method="post">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>
        </div>
        <div>
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required>
        </div>
        <div>
            <label for="departamento">Departamento:</label>
            <input type="text" id="departamento" name="departamento">
        </div>
        <div>
            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo">
        </div>
        <button type="submit">Enviar</button>
    </form>
